@font-face {
  font-family: 'Digital';
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot');
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7')
      format('svg');
}
.App {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: rgba(194,194,214,255);
}
.grid-container {
  display: grid;
  background: black;
  width: 320px;
  grid-template-areas: 
  "input input input input"
  "output output output output"
  "clear clear divide multiply"
  "seven eight nine subtract"
  "four five six add"
  "one two three equals"
  "zero zero decimal equals";
  font-size: 20px;
  padding: 5px;
  gap: 1px;
  
}
.input-button, #equals {
  display: flex;
  background: rgba(77,77,77,255);
  color: white;
  height: 65px;
  justify-content: center;
  align-items: center;  
}
.input-button:hover {
  color: black;
  box-shadow: 0px 0px 0px 1px rgba(113,113,113,255);
  
}
#clear {
  background: rgba(172,57,57,255);
}
#clear:hover, #equals:hover {
  box-shadow: 0px 0px 0px 1px rgba(113,113,113,255);
  color: black;
}
#equals {
  height: 131px;
  background: rgba(0,68,102,255);
}

#input, #display {
  display: flex;
  color: rgba(255,165,0,255);
  justify-content: flex-end;
  align-items: center;
  font-size: 20px;
  height: 25px;
  text-transform: uppercase;
  font-family: digital;
}
#display {
  height: 25px;
  font-size: 25px;
  color: white;
}
